<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .container {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        box-sizing: border-box;
        margin: auto; /* Center the container */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      h1 {
        text-align: center;
        color: #007bff;
        margin-top: 0;
        margin-bottom: 20px;
      }

      form {
        text-align: center;
      }

      label {
        display: block;
        margin-bottom: 10px;
        color: #333;
      }

      input[type="text"] {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 20px;
      }

      button[type="submit"] {
        width: calc(100% - 20px);
        padding: 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button[type="submit"]:hover {
        background-color: #0056b3;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
      }

      a:hover {
        color: #0056b3;
      }

      .button-like-link {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #00ff22; /* Button background color */
        color: #fff; /* Button text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }

      /* Hover effect */
      .button-like-link:hover {
        background-color: #2db300; /* Darker background color on hover */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>

      <% if(locals.id) { %>
      <p style="text-align: center; margin-bottom: 20px">
        Generated URL:
        <a href="http://localhost:8000/api/url/<%= id %>" class="button"
          >http://localhost:8000/url/<%= id %></a
        >
        <a href="/" class="button-like-link">Back</a>
      </p>
      <% } %>

      <form action="/url" method="POST">
        <label for="url">Enter your URL:</label>
        <input type="text" name="url" placeholder="Enter URL here" required />
        <button type="submit">Generate Short URL</button>
      </form>

      <% if (locals.urls && locals.urls.length !== 0) { %>
      <table>
        <thead>
          <tr>
            <th>S. No</th>
            <th>Short ID</th>
            <th>Original URL</th>
            <th>Clicks</th>
            <th>Short URL</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
            <td>
              <a href="http://localhost:8000/url/<%= url.shortId %>"
                >http://localhost:8000/url/<%= url.shortId %></a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
